.center{
    text-align: center;
}
.logo{
    display: inline;
    height: 1em;
    margin-bottom: -4px;
}
.line_grid{
    transition: all 0.4s;
    &:hover, &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.9;
        font-size: 1.2em;
      }
}
.line_block{
    border: none;
}
.mat-grid-list {
    display: block;
    position: relative;
    overflow: hidden;
}
.mat-tab-body-content{
    overflow: hidden;
}
.transfer{
    color: #ffffff;
    border: solid 1px #000000;
    padding: 0px 10px;
    margin: 0px 10px;
    display: inline-block;
    width: 40px;
    text-align: center;
}
.name{
    width: 100px;
    padding-left: 10px;
}
.mat-list >  .mat-list-item:nth-child(2n+1){
    background-color:#ffffff;
  }
  .mat-list >  .mat-list-item:nth-child(2n){
    background-color:#eeeeee;
  }

.start-end{
    display: inline-block;
    padding: 10px;
}